@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    border: 1px solid red;
    font-family: 'IBM Plex Sans';
}

input{
    padding:2%;
    border: 2px solid #b4b4b4;
    border-radius: 10px;
    background: linear-gradient(180deg,rgba(168, 168, 168, 1) 0%, rgb(233, 233, 233) 23%);
    font-size: 12pt;
    font-weight: regular;
}

select{
    padding:2%;
    border: 2px solid #b4b4b4;
    border-radius: 10px;
    background: linear-gradient(180deg,rgba(168, 168, 168, 1) 0%, rgb(233, 233, 233) 23%);
    font-size: 12pt;
    font-weight: bold;
    color: #000000b4;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
}

.headeresq{
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 12px;
    margin-left: 3%;
}

.headerdir{
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: end;
    margin-right: 3%;
}

.headerdirtexto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    margin-right: 2.5%;
    text-align: end;
}

.headerdirimg{
    display: flex;
    img{border-radius: 12px;
    border: 2px solid #202020;}
}

.secao1{
    display: flex;
    flex-direction: row;
    padding: 1%;
    justify-content: center;
}

.secao1status{
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
}

.secao1status1, .secao1status2, .secao1status3, .secao1status4{
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 17%;
    font-size: 15px;
    border-radius: 12px;
    border: 2px solid;
}

.secao1status1{
    background: linear-gradient(180deg,rgba(94, 126, 219, 1) 0%, rgba(186, 192, 247, 1) 35%);
    color: #070749;
    border-color: #070749;
}

.secao1status2{
    background: linear-gradient(180deg,rgb(94, 219, 104) 0%, rgb(208, 247, 186) 35%);
    color: #0f4907;
    border-color: #0f4907;
}

.secao1status3{
    background: linear-gradient(180deg,rgb(219, 150, 94) 0%, rgb(247, 226, 186) 35%);
    color: #491c07;
    border-color: #491c07;
}

.secao1status4{
    background: linear-gradient(180deg,rgb(219, 94, 136) 0%, rgb(247, 186, 186) 35%);
    color: #490712;
    border-color: #490712;
}

.secao2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 60vh;
}
.secao2esq{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:1.5%;
    border: 2px solid #6e6e6e;
    background: linear-gradient(180deg,rgba(194, 194, 194, 1) 0%, rgba(245, 245, 245, 1) 27%);
    border-radius: 10px;
    width: 40%;
}

.secao2esqheader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}

.secao2esqheaderbotao{
    background: linear-gradient(180deg, #050689, #1954d7,#2d65e2,#5184f6);
    width: 50%;
    padding:1%;
    text-align: center;
    color: white;
    font-weight: regular;
    border-radius: 10px;
    border: 2px solid #050689;
    align-self:center;
    transition: all 0.1s ease-in-out;
}

.secao2esqheaderbotao:hover{
    background: linear-gradient(180deg, #3333c7, #3e76f0,#6190f5,#94b6ff);
    border: 2px solid #2323c5;
    transform: scale(1.02);
}
.secao2esqitens{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-y: auto;
    height: 44vh;
}
.secao2esqitenstexto{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.secao2esqbotao{
    background: linear-gradient(180deg, #050689, #1954d7,#2d65e2,#5184f6);
    width: 100%;
    padding:2%;
    text-align: center;
    color: white;
    font-weight: regular;
    border-radius: 10px;
    border: 2px solid #050689;
    align-self:center;
    transition: all 0.1s ease-in-out;
}

.secao2esqbotao:hover{
    background: linear-gradient(180deg, #3333c7, #3e76f0,#6190f5,#94b6ff);
    border: 2px solid #2323c5;
    transform: scale(1.02);
}

.secao2dir{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:1.5%;
    border: 2px solid #6e6e6e;
    background: linear-gradient(180deg,rgba(194, 194, 194, 1) 0%, rgba(245, 245, 245, 1) 27%);
    border-radius: 10px;
    width: 40%;
}

.secao2dirobjarea{
    display:flex;
    flex-direction: column;
    height:44vh;
    justify-content: space-around;
    overflow-y: auto;
}


.secao2dirobj{
    display:flex;
    flex-direction: column;
    padding:2%;
    border: 2px solid #b4b4b4;
    border-radius: 10px;
    background: linear-gradient(180deg,rgba(168, 168, 168, 1) 0%, rgb(233, 233, 233) 23%);
    font-size: 9pt;
    font-weight: regular;
    margin-bottom: 1%;
}

.secao2dirobjheader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.secao2dirobjheaderdevol{
    background: linear-gradient(180deg, #050689, #1954d7,#2d65e2,#5184f6);
    padding:1%;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #050689;
    align-self:center;
    width: 95%;
}

.secao2dirobjtexto{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secao2esqbotoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 22%;
    justify-content: space-between;
}
.secao2esqobj{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:1%;
    border: 2px solid #b4b4b4;
    border-radius: 10px;
    background: linear-gradient(180deg,rgba(168, 168, 168, 1) 0%, rgb(233, 233, 233) 23%);
    font-size: 9pt;
    font-weight: regular;
    margin-bottom: 1%;
}

.secao2esqeditar{
    background: linear-gradient(180deg, #050689, #1954d7,#2d65e2,#5184f6);
    width: 50px;
    padding:1%;
    color: white;
    font-weight: regular;
    border-radius: 10px;
    border: 2px solid #050689;
    transition: all 0.1s ease-in-out;
}

.secao2esqeditar:hover{
    background: linear-gradient(180deg, #3333c7, #3e76f0,#6190f5,#94b6ff);
    border: 2px solid #2323c5;
    transform: scale(1.02);
}

.secao2esqapagar{
    background: linear-gradient(180deg, #890505, #d71919,#e22d2d,#f65151);
    width: 50px;
    padding:1%;
    color: white;
    font-weight: regular;
    border-radius: 10px;
    border: 2px solid #890505;
    transition: all 0.1s ease-in-out;
}

.secao2esqapagar:hover{
    background: linear-gradient(180deg, #c73333, #f03e3e,#f56161,#ff9494);
    border: 2px solid #c52323;
    transform: scale(1.02);
}

.secao2esqsituacao{
    background: linear-gradient(180deg, #148905, #3fd719,#60e22d,#9bf651);
    width: 50%;
    padding:1%;
    color: white;
    font-weight: regular;
    border-radius: 5px;
    border: 2px solid #05891b;
    text-align: center;
}